<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :title %><br />
    <div class="input"><%= f.text_field :title %></div>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <div class="input"><%= f.text_area :description %></div>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <div class="input"><%= f.number_field :priority %></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
